html, body {
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

#contactButtons {
    padding-top: 40px;
}


#contactButtons a {
    text-decoration: none;
}
